# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Sourcey build output (rebuilt by .github/workflows/deploy.yml)
dist

# Legacy gitbook artefacts
_book
*.epub
*.mobi
*.pdf

# Editors
.idea

/bak
/api
/publish
